In [1]:
import numpy as np 
import pandas as pd 

import warnings
warnings.filterwarnings('ignore')

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
df = pd.read_csv('data/processed/02_Exploratory_Data_Analysis.csv')

In [3]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

Now we will use the isnull function to see the any null values exists or not in our dataset.

In [4]:
df.isnull().values.any()

False

It's time to use the duplication function to make sure if there are any duplicated values in the dataset or not.

In [5]:
print('Number of duplicates are : ', df.duplicated().sum())

Number of duplicates are :  0

Let's have a look at the column names to see if they need any correction or not. We usually do this to see typo errors.

In [6]:
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

Columns

step: represents a unit of time where 1 step equals 1 hour
type: type of online transactio n amount: the amount of the transaction 
nameOrig: customer starting the transact ion 
oldbalanceOrg: balance before the transac tion 
newbalanceOrig: balance after the transa ction 
nameDest: recipient of the trans action 
oldbalanceDest: initial balance of recipient before the tran saction 
newbalanceDest: the new balance of recipient after the tra nsaction 
isFraud: fraud transaction

In [7]:
df = df.rename(columns = {'nameOrig' : 'origin', 'oldbalanceOrg' : 'sender_old_balance', 'newbalanceOrig': 'sender_new_balance', 'nameDest' : 'destination', 'oldbalanceDest' : 'receiver_old_balance', 'newbalanceDest': 'receiver_new_balance'})

It's also good to drop down the non essential columns from a dataset. We will do this with the help of drop function.

In [8]:
df = df.drop(columns = ['step', 'isFlaggedFraud'], axis = 'columns')

Now it's time to move the target column to our desired location in the dataset.

In [9]:
cols = df.columns.tolist()
new_position = 3

cols.insert(new_position, cols.pop(cols.index('destination')))
df = df[cols]

In [10]:
df.head()

,type,amount,origin,destination,sender_old_balance,sender_new_balance,receiver_old_balance,receiver_new_balance,isFraud
0,PAYMENT,9839.64,C1231006815,M1979787155,170136.0,160296.36,0.0,0.0,0
1,PAYMENT,1864.28,C1666544295,M2044282225,21249.0,19384.72,0.0,0.0,0
2,TRANSFER,181.00,C1305486145,C553264065,181.0,0.00,0.0,0.0,1
3,CASH_OUT,181.00,C840083671,C38997010,181.0,0.00,21182.0,0.0,1
4,PAYMENT,11668.14,C2048537720,M1230701703,41554.0,29885.86,0.0,0.0,0

Insights
    
First of all we realized that no singal column in our dataset had any null values. It means that our dataset was a clean dataset or the missing values were already taken care of    .
Second, we saw that our dataset does not have any duplicate value    s.
Then we renamed some of our columns and changed their positions for our comfort and better understanding.

In [11]:
df.to_csv('data/processed/03_Data_Cleaning.csv', index=False)